body {
    padding-top: 60px;
    padding-bottom: 30px;
}
.first-container{
    /*margin-top: 100px;*/
}

.menu-list-trunk{
    display: none;
}
.menu-list-trunk.active{
    display: block;
}
.menu-list-branch.active, 
.menu-list-branch.active:hover, 
.menu-list-branch.active:focus{
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
}
.menu-list-leaf.active{
    background-color: #eee;
}
