body {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #fafafa;
  font-size: 12px;
  overflow-y: scroll;
  /*
  红色
  rgb(215, 0, 12)
  rgb(215, 59, 47)

  黑色
  rgb(40,29,26)
  
  灰色
  rgb(238,238,238)
  */
}
.ng-hide{
  display: block;
  opacity: 0;
}
.storlever .navbar{
  min-height: 40px;
}
.storlever .navbar-collapse.collapse{
  /*height: 30px !important;*/
}
.storlever .navbar-brand,
.storlever .nav>li>a{
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
}
.storlever .navbar-brand{
  height: 40px;
  color: #ed930d;
}
.first-container{
  /*margin-top: 100px;*/
}

.menu-list-root{
  font-size: 14px;
}
.menu-list-trunk{
  display: none;
}
.menu-list-trunk.active{
  display: block;
}
.menu-list-branch{
  padding: 5px;
  border: 0 none;
  background-color: #fafafa;
}
.menu-list-branch.active, 
.menu-list-branch.active:hover, 
.menu-list-branch.active:focus{
  background-color: #fafafa;
  border: 0 none;
}
.menu-list-branch a{
  color: #aaa;
  font-weight: bold;
  text-decoration: none;
  outline: none;
}
.menu-list-branch h4{
  font-size: 14px;
}
/*.menu-list-branch.active a, 
.menu-list-branch.active:hover a, 
.menu-list-branch.active:focus a{
  color: #fff;
}*/
.menu-list-leaf.active{
  border-right: 3px solid rgba(0, 0, 0, 0.247059);
}
.menu-list-leaf.active{
  background-color: #f39e21;
}
.menu-list-leaf a{
  color: #888;
  font-weight: bold;
}
.storlever .nav > li.menu-list-leaf > a{
  padding: 5px;
}
.nav>li.menu-list-leaf.active>a:hover, .nav>li.menu-list-leaf.active>a:focus{
  background-color: #f39e21;
}
.menu-list-leaf.active a, 
.menu-list-leaf.active:hover a, 
.menu-list-leaf.active:focus a{
  color: #fff;
}

/*.row-in-tab{
  padding: 5px;
}*/
.panel-heading.btn-in-right{
  position: relative;
}
.btn-right-container{
  position: absolute;
  top: 5px;
  right: 25px;
  text-align: right;
}

.container-compact{
  padding-left: 5px;
  padding-right: 5px;
}
.container-compact .row{
  margin-left: 5px;
  margin-right: 5px;
}
.container-compact .col-xs-1, .container-compact .col-sm-1, .container-compact .col-md-1, .container-compact .col-lg-1, 
.container-compact .col-xs-2, .container-compact .col-sm-2, .container-compact .col-md-2, .container-compact .col-lg-2, 
.container-compact .col-xs-3, .container-compact .col-sm-3, .container-compact .col-md-3, .container-compact .col-lg-3, 
.container-compact .col-xs-4, .container-compact .col-sm-4, .container-compact .col-md-4, .container-compact .col-lg-4, 
.container-compact .col-xs-5, .container-compact .col-sm-5, .container-compact .col-md-5, .container-compact .col-lg-5, 
.container-compact .col-xs-6, .container-compact .col-sm-6, .container-compact .col-md-6, .container-compact .col-lg-6, 
.container-compact .col-xs-7, .container-compact .col-sm-7, .container-compact .col-md-7, .container-compact .col-lg-7, 
.container-compact .col-xs-8, .container-compact .col-sm-8, .container-compact .col-md-8, .container-compact .col-lg-8, 
.container-compact .col-xs-9, .container-compact .col-sm-9, .container-compact .col-md-9, .container-compact .col-lg-9, 
.container-compact .col-xs-10, .container-compact.col-sm-10, .container-compact .col-md-10, .container-compact .col-lg-10, 
.container-compact .col-xs-11, .container-compact.col-sm-11, .container-compact .col-md-11, .container-compact .col-lg-11, 
.container-compact .col-xs-12, .container-compact.col-sm-12, .container-compact .col-md-12, .container-compact .col-lg-12{
  padding-left: 5px;
  padding-right: 5px;
}
.container-compact .col-xs-1, .container-compact .col-sm-1, .container-compact .col-md-1, .container-compact .col-lg-1, 
.container-compact .col-xs-2, .container-compact .col-sm-2, .container-compact .col-md-2, .container-compact .col-lg-2, 
.container-compact .col-xs-3, .container-compact .col-sm-3, .container-compact .col-md-3, .container-compact .col-lg-3, 
.container-compact .col-xs-4, .container-compact .col-sm-4, .container-compact .col-md-4, .container-compact .col-lg-4, 
.container-compact .col-xs-5, .container-compact .col-sm-5, .container-compact .col-md-5, .container-compact .col-lg-5, 
.container-compact .col-xs-6, .container-compact .col-sm-6, .container-compact .col-md-6, .container-compact .col-lg-6, 
.container-compact .col-xs-7, .container-compact .col-sm-7, .container-compact .col-md-7, .container-compact .col-lg-7, 
.container-compact .col-xs-8, .container-compact .col-sm-8, .container-compact .col-md-8, .container-compact .col-lg-8, 
.container-compact .col-xs-9, .container-compact .col-sm-9, .container-compact .col-md-9, .container-compact .col-lg-9, 
.container-compact .col-xs-10, .container-compact .col-sm-10, .container-compact .col-md-10, .container-compact .col-lg-10, 
.container-compact .col-xs-11, .container-compact .col-sm-11, .container-compact .col-md-11, .container-compact .col-lg-11, 
.container-compact .col-xs-12, .container-compact .col-sm-12, .container-compact .col-md-12, .container-compact .col-lg-12 {
  padding-left: 5px;
  padding-right: 5px;
}
.os-tab-container{
  padding-left: 0;
  padding-right: 0;
}
.os-tab-container > .ng-isolate-scope{
  border: 1px solid #eee;
  padding: 15px 10px 10px 10px;
  background-color: #fff;
  border-radius: 3px;
}
.os-tab-container>.ng-isolate-scope .nav-tabs{
  border: 0 none;
  padding: 0.2em 0.2em 0 0.2em;
}
.os-tab-container .nav-tabs>li>a{
  border-top: 0 none;
  border-right: 0 none;
  border-left: 0 none;
  border-bottom: 3px solid #eee;
  padding: 5px 10px;
  border-radius: 0px;
  margin-right: 5px;
  font-weight: bold;
  color: #7C8C99;
  cursor: default;
}
.os-tab-container .nav-tabs>li>a:hover{
  background-color: rgba(0, 0, 0, 0.0980392);
}
.os-tab-container .nav-tabs>li.active>a, 
.os-tab-container .nav-tabs>li.active>a:hover, 
.os-tab-container .nav-tabs>li.active>a:focus {
  border-top: 0 none;
  border-right: 0 none;
  border-left: 0 none;
  border-bottom: 3px solid #D5840C;
  background-color: #ED930D;
  color: #fff;
}
.os-tab-container .tab-pane{
  border: 0 none;
}

.container-compact .os-row-no-padding{
  margin: 0;
  padding: 0;
}

.os-row-no-padding>.col-xs-12, .os-row-no-padding>.col-sm-12, .os-row-no-padding>.col-md-12, .os-row-no-padding>.col-lg-12 {
  padding-right: 0;
  padding-left: 0;
}
.os-row-no-padding>.col-xs-1, .os-row-no-padding>.col-sm-1, .os-row-no-padding>.col-md-1, .os-row-no-padding>.col-lg-1, 
.os-row-no-padding>.col-xs-2, .os-row-no-padding>.col-sm-2, .os-row-no-padding>.col-md-2, .os-row-no-padding>.col-lg-2, 
.os-row-no-padding>.col-xs-3, .os-row-no-padding>.col-sm-3, .os-row-no-padding>.col-md-3, .os-row-no-padding>.col-lg-3, 
.os-row-no-padding>.col-xs-4, .os-row-no-padding>.col-sm-4, .os-row-no-padding>.col-md-4, .os-row-no-padding>.col-lg-4, 
.os-row-no-padding>.col-xs-5, .os-row-no-padding>.col-sm-5, .os-row-no-padding>.col-md-5, .os-row-no-padding>.col-lg-5, 
.os-row-no-padding>.col-xs-6, .os-row-no-padding>.col-sm-6, .os-row-no-padding>.col-md-6, .os-row-no-padding>.col-lg-6, 
.os-row-no-padding>.col-xs-7, .os-row-no-padding>.col-sm-7, .os-row-no-padding>.col-md-7, .os-row-no-padding>.col-lg-7, 
.os-row-no-padding>.col-xs-8, .os-row-no-padding>.col-sm-8, .os-row-no-padding>.col-md-8, .os-row-no-padding>.col-lg-8, 
.os-row-no-padding>.col-xs-9, .os-row-no-padding>.col-sm-9, .os-row-no-padding>.col-md-9, .os-row-no-padding>.col-lg-9, 
.os-row-no-padding>.col-xs-10, .os-row-no-padding>.col-sm-10, .os-row-no-padding>.col-md-10, .os-row-no-padding>.col-lg-10, 
.os-row-no-padding>.col-xs-11, .os-row-no-padding>.col-sm-11, .os-row-no-padding>.col-md-11, .os-row-no-padding>.col-lg-11{
  padding-left: 0;
}
.os-row-no-padding>.os-col-nopadding-right{
  padding-left: 0;
}

.os-panel{
  margin-bottom: 0;
  border: 0 none;
  box-shadow: none;
}
.os-panel .panel-heading{
  padding: 20px 0 0 0;
  border-bottom: 2px solid #eee;
}
.os-panel .panel-title{
  font-size: 14px;
  color: #B5BEC6;
  font-weight: bold;
}
.os-panel .panel-body{
  padding: 10px 0 0 0;
}

.os-form>.form-group{
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
.os-form>.form-group>.col-xs-1, .os-form>.form-group>.col-sm-1, .os-form>.form-group>.col-md-1, .os-form>.form-group>.col-lg-1, 
.os-form>.form-group>.col-xs-2, .os-form>.form-group>.col-sm-2, .os-form>.form-group>.col-md-2, .os-form>.form-group>.col-lg-2, 
.os-form>.form-group>.col-xs-3, .os-form>.form-group>.col-sm-3, .os-form>.form-group>.col-md-3, .os-form>.form-group>.col-lg-3, 
.os-form>.form-group>.col-xs-4, .os-form>.form-group>.col-sm-4, .os-form>.form-group>.col-md-4, .os-form>.form-group>.col-lg-4, 
.os-form>.form-group>.col-xs-5, .os-form>.form-group>.col-sm-5, .os-form>.form-group>.col-md-5, .os-form>.form-group>.col-lg-5, 
.os-form>.form-group>.col-xs-6, .os-form>.form-group>.col-sm-6, .os-form>.form-group>.col-md-6, .os-form>.form-group>.col-lg-6, 
.os-form>.form-group>.col-xs-7, .os-form>.form-group>.col-sm-7, .os-form>.form-group>.col-md-7, .os-form>.form-group>.col-lg-7, 
.os-form>.form-group>.col-xs-8, .os-form>.form-group>.col-sm-8, .os-form>.form-group>.col-md-8, .os-form>.form-group>.col-lg-8, 
.os-form>.form-group>.col-xs-9, .os-form>.form-group>.col-sm-9, .os-form>.form-group>.col-md-9, .os-form>.form-group>.col-lg-9, 
.os-form>.form-group>.col-xs-10, .os-form>.form-group>.col-sm-10, .os-form>.form-group>.col-md-10, .os-form>.form-group>.col-lg-10, 
.os-form>.form-group>.col-xs-11, .os-form>.form-group>.col-sm-11, .os-form>.form-group>.col-md-11, .os-form>.form-group>.col-lg-11, 
.os-form>.form-group>.col-xs-12, .os-form>.form-group>.col-sm-12, .os-form>.form-group>.col-md-12, .os-form>.form-group>.col-lg-12{
  padding-left: 10px;
  padding-right: 10px;
}
.os-form label{
  font-weight: normal;
  color: #7C8C99;
}
.os-form .form-control{
  padding: 3px 6px;
  height: 28px;
}
.os-form .btn{
  padding: 3px 12px;
}
.os-form p.input-group{
  margin: 0;
}
.os-form>.os-submit-group{
  margin-top: 10px;
}
.os-submit-btn{
  min-width: 100px;
}

.os-table-toolbar{
  margin-top: 10px;
  margin-bottom: 10px;
}

.os-table-container{
  border: 1px solid #ddd;
}
.os-table-container>.os-table{
  margin-bottom: 0;
}
.os-table>thead>tr>th{
  border-bottom-width: 1px;
}
.os-table>tbody+tbody{
  border: 0 none;
}
.os-multi-select-container .multiSelect > button{
  min-height: 20px !important; 
}
.os-multi-select-container .multiSelect .buttonLabel {
  padding: 0;
}
.os-multi-select-container .multiSelect .multiSelectItem{
  min-width: 150px;
} 

.panel-compact{
  margin-bottom: 10px;
  border: 0 none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-compact .panel-heading{
  padding: 5px 15px;
  color: rgb(221, 84, 0);
  background-color: transparent;
  border-color: rgb(221, 84, 0);
}
.panel-compact .panel-body{
  padding-top: 5px;
  padding-bottom: 10px;
  border: 0 none;
}
.panel-compact .panel-body:after{
  color: transparent;
}
.panel-compact .form-group{
  margin-top: 2px;
  margin-bottom: 2px;
}
.table-no-border > thead > tr > th, 
.table-no-border > tbody > tr > th, 
.table-no-border > tfoot > tr > th, 
.table-no-border > thead > tr > td, 
.table-no-border > tbody > tr > td, 
.table-no-border > tfoot > tr > td{
  border: 0 none;
}
.table-compact{
  margin-bottom: 0;
}
.table-compact > thead > tr > th, 
.table-compact > tbody > tr > th, 
.table-compact > tfoot > tr > th, 
.table-compact > thead > tr > td, 
.table-compact > tbody > tr > td, 
.table-compact > tfoot > tr > td{
  padding: 2px 5px;
}

.chart-legend dt{
  text-align: left;
  width: 120px;
}
.chart-legend dd{
  margin-left: 120px;
}
.chart-legend dt span{
  border-radius: 0.2em;
  display: inline-block;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: middle;
  width: 1em;
}
.chart-legend .divider{
  height: 0.8em;
}
.chart-legend dt span.legend-color1{
  background-color: #97BBCD;
}
.chart-legend dt span.legend-color2{
  background-color: #DCDCDC;
}
.chart-legend dt span.legend-color3{
  background-color: #F7464A;
}
.chart-legend dt span.legend-color4{
  background-color: #46BFBD;
}
.chart-legend dt span.legend-color5{
  background-color: #FDB45C;
}
.chart-legend dt span.legend-color6{
  background-color: #949FB1;
}
.pie-legend dt span.legend-color7{
  background-color: #4D5360;
}