<div style="margin-top: -59px;" class="navbar-inverse inner_header_wrapper" >
    <div class="container">
        <div class="navbar-header" ><a href="/" title="Home"><img src="images/storlever_intro.png"></a></div>
    </div>
</div>

<!--header id="header" role="banner">
    <div class="top_left">
        <div id="logo"><a href="/" title="Home"><img src="http://www.openlmi.org/sites/default/files/OpenLMI%20Logo%20with%20slogan_2.png"></a></div>
    </div>

    <div class="top_right">

        <div class="search_block">
            <div class="region region-search">
                <div id="block-search-form" class="block block-search">


                    <div class="content">
                        <form action="/" method="post" id="search-block-form" accept-charset="UTF-8"><div><div class="container-inline">
                            <h2 class="element-invisible">Search form</h2>
                            <div class="form-item form-type-textfield form-item-search-block-form">
                                <label class="element-invisible" for="edit-search-block-form--2">Search </label>
                                <input title="Enter the terms you wish to search for." id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" class="form-text" type="text">
                            </div>
                            <div class="form-actions form-wrapper" id="edit-actions"><input id="edit-submit" name="op" value="Search" class="form-submit" type="submit"></div><input name="form_build_id" value="form-5gV3E4GGK0hxIk0z5TvgJfGG1ldJBnhk1Vgj4R0O9bI" type="hidden">
                            <input name="form_id" value="search_block_form" type="hidden">
                        </div>
                        </div></form>  </div>

                </div>
            </div>
                   </div>

    </div>

    <div class="clear"></div>

</header-->