<header  class="navbar navbar-inverse top-header navbar-fixed-top" role="navigation">
    <div class="container first-container">
        <div class="navbar-header" >
            <a class="navbar-brand" href="#" style="font-size:25px">StorLever</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="root in roots" class="menu-list-root">
                    <a href="#">主页</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</header>






