body {
    font-family: "微软雅黑";
    font-size: 14px;
    background: transparent;
    line-height: 1.6;
}
.storlever {
    border-radius: 0px;
    border: 0px;
}

.top-header {
    background-color: #1A1F29;
}

.navbar-textadd {
    float: right;
}
.storlever .navbar-brand {
    color: #ED930D;
}

.inner_header_wrapper {
    margin: 0px auto;
    background: radial-gradient(circle, rgba(35, 38, 48, 0.8), rgba(0, 0, 0, 1)) repeat scroll 0% 0% transparent;
    border-bottom: 10px solid #BDBDB4;
}

.footer{
    color:#999;text-align:center;
    padding:30px 0;margin-top:70px;
    border-top:1px solid #e5e5e5;background-color:#f5f5f5}

.footer a{color:#999}

.bannermin {
    min-height: 100px;
}
.time_font{
    font-family: "微软雅黑";
    font-size: 15px;
    color: #ababab;
    background: transparent;
    font-weight: bold;
    padding-right: 18px;
    padding-top: 20px;

}

.lvband_font {
    font-family: "微软雅黑";
    font-size: 28px;
    background: transparent;
    font-weight: bold;
}

.lv1_font > li>a
{
    font-family: "微软雅黑";
    font-size: 17px;
    color: #333333;
    background: transparent;;
    font-weight: bold;
}

.picTip_font_98bbcd
 {
     color: #98bbcd;
     background: transparent;;
     font-weight: bold;
 }

.picTip_font_dcdcdc
{
    color: #dcdcdc;
    background: transparent;;
    font-weight: bold;
}

.picTip_font_f38732
{
    color: #f38732;
    background: transparent;;
    font-weight: bold;
}

.picTip_font_6ad2e7
{
    color: #6ad2e7;
    background: transparent;;
    font-weight: bold;
}

.picTip_font_e0e4cc
{
    color: #e0e4cc;
    background: transparent;;
    font-weight: bold;
}

.picTip_font_yellow
{
    color: #98bbcd;
    background: transparent;;
    font-weight: bold;
}

.bk_lever{
    border-top: 3px solid #727B87;
    background: none repeat scroll 0% 0% #F5F5F5;
}

.p_font {
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: bold;
}

.p2_font {
    font-family: "微软雅黑";
    font-size: 14px;
    background: transparent;
    line-height: 1.6;
}

.center_font {
    font-family: "微软雅黑";
    font-size: 13px;
    background: transparent;
    line-height: 1.6;
    display: block;
    text-align: center;
    padding: 5px;
}

.lv1_font {

}

.footer_font {
    font-family: "微软雅黑";
    font-size: 15px;
    background: transparent;
    color: #AAAAAA;
}

.lv2_font {
    font-family: "微软雅黑";
    font-size: 15px;
    background: transparent;
    color: #AAAAAA;
    font-weight: bold;
}


.lv3_font {
    font-family: "微软雅黑";
    font-size: 15px;
    line-height: 2;
    color: #666666;
    background: transparent;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.lv3_focus{
    display: block;
    padding-left: 10px;
}

.lv3_focus > li>a:active,
.lv3_focus > li>a:hover,.lv3_focus > li>a:focus
{
    cursor: pointer;
    background-color: #f1a32f;
    text-decoration: none;
    outline:none;
}

.divTab{
    margin-top: 15px;
    margin-bottom: 15px;
}
